script(src=base + '/assets/js/jquery.min.js')
script(src=base + '/assets/js/lazyload.min.js')
script(src=base + '/assets/js/swiper-bundle.min.js')
script(src=base + '/assets/js/universal-parallax.min.js')
script(src=base + '/assets/js/script.js')
//- script(src=base + '/assets/js/vegas.min.js')
//- script(src=base + '/assets/js/lightbox.js')
//- script(src=base + '/assets/js/universal-parallax.min.js')
//- script(src=base + '/assets/js/jquery.matchHeight.js')