link(rel='stylesheet' href=base + '/assets/css/reset.css')
link(rel='stylesheet' href=base + '/assets/css/master.css')
link(rel='stylesheet' href=base + '/assets/css/base.css')
link(rel='stylesheet' href=base + '/assets/css/common.css')
link(rel='stylesheet' href=base + '/assets/css/undercontent.css')
link(rel='stylesheet' href=base + '/assets/css/responsive.css')
link(rel='stylesheet' href=base + '/assets/css/swiper-bundle.min.css')
if page == "demo"
    link(rel='stylesheet' href=base + '/assets/css/demo.css')
if page == "top"
    link(rel='stylesheet' href=base + '/assets/css/top.css')
if page == "profile"
    link(rel='stylesheet' href=base + '/assets/css/profile.css')
if page == "contact"
    link(rel='stylesheet' href=base + '/assets/css/contact.css')
if page == "news"
    link(rel='stylesheet' href=base + '/assets/css/news.css')
if page == "link"
    link(rel='stylesheet' href=base + '/assets/css/link.css')
if page == "business"
    link(rel='stylesheet' href=base + '/assets/css/business.css')
if page == "information"
    link(rel='stylesheet' href=base + '/assets/css/information.css')
if page == "staff"
    link(rel='stylesheet' href=base + '/assets/css/staff.css')
if page == "lecture"
    link(rel='stylesheet' href=base + '/assets/css/lecture.css')